@keyframes shine {
  from {
    opacity: 0;
    left: 0%;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    left: 100%;
  }
}
.hero_sec {
  margin-top: calc(var(--headerheight) + 30px);
  height: calc(100vh - (var(--headerheight) + 50px));
}
.hero_sec .container {
  height: 100%;
}
.hero_sec .hero_wrapper {
  position: relative;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}
.hero_sec .hero_wrapper .hero_col {
  flex: 1;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.hero_sec .hero_wrapper .hero_col:not(.active) {
  flex: 0 1 100px;
}
.hero_sec .hero_wrapper .hero_col:not(.active) figcaption .hero_title {
  transform: translate(0, -10%) rotate(90deg);
}
.hero_sec .hero_wrapper .hero_col figure {
  line-height: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  position: relative;
}
.hero_sec .hero_wrapper .hero_col figure::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  background: none;
  transition: 0.5s ease;
}
.hero_sec .hero_wrapper .hero_col figure::before {
  background: linear-gradient(270deg, rgba(0, 0, 0, 0) 50%, #000 100% 100%), linear-gradient(0deg, rgba(0, 0, 0, 0) 28%, #000 86%);
  border-radius: 10px;
}
.hero_sec .hero_wrapper .hero_col figure img, .hero_sec .hero_wrapper .hero_col figure video {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.5s ease;
}
.hero_sec .hero_wrapper .hero_col figcaption {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
}
.hero_sec .hero_wrapper .hero_col figcaption .hero_title {
  position: absolute;
  top: 10%;
  transform: translate(0, -10%);
  display: flex;
  align-items: center;
  gap: 10px;
  white-space: nowrap;
}
.hero_sec .hero_wrapper .hero_col figcaption .hero_title .dot {
  width: 11px;
  height: 11px;
  border: 1px solid var(--white);
  border-radius: 50%;
}
.hero_sec .hero_wrapper .hero_col figcaption .hero_title h6 {
  font-size: 14px;
  color: var(--white);
}
.hero_sec .hero_wrapper .hero_col figcaption .heading {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  max-width: 510px;
}
.hero_sec .hero_wrapper .hero_col figcaption .heading h2 {
  font-size: 40px;
  color: var(--white);
}
.hero_sec .hero_wrapper .hero_col figcaption .heading p {
  color: rgba(255, 255, 255, 0.7);
  max-width: 395px;
  margin: 10px 0 30px;
}

.about_sec {
  position: relative;
  z-index: 0;
}
.about_sec::before {
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  background-color: var(--primary);
  filter: blur(120px);
  border-radius: 50%;
}
.about_sec::before {
  z-index: -1;
}
.about_sec .about_wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  --gap: 100px;
}
.about_sec .about_wrapper figcaption {
  flex: 0 1 40%;
  max-width: 40%;
  width: 100%;
}
.about_sec .about_wrapper figcaption .heading h1 {
  font-size: 36px;
}
.about_sec .about_wrapper figcaption .heading p {
  margin: 10px 0 30px;
}
.about_sec .about_wrapper figure {
  flex: 0 1 auto;
  width: 340px;
  height: 340px;
  border-radius: 50%;
}
.about_sec .about_wrapper figure img {
  border-radius: 50%;
}

.industry_sec {
  background: var(--bglight);
  padding-bottom: 130px;
}
.industry_sec .heading {
  text-align: center;
}
.industry_sec .tab-nav {
  display: flex;
  align-items: center;
  gap: 60px;
  justify-content: space-between;
  margin: 40px auto 30px;
  border-bottom: 1px solid #C2C2C2;
  max-width: 1170px;
}
.industry_sec .tab-nav li {
  position: relative;
  padding-bottom: 15px;
  color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
}
.industry_sec .tab-nav li.active {
  color: var(--primary);
}
.industry_sec .tab-nav li.active::before {
  width: 100%;
}
.industry_sec .tab-nav li::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: var(--secondary);
  transition: 0.5s ease;
}
.industry_sec .tab-nav-content {
  max-width: 1170px;
  margin: auto;
}
.industry_sec .tab-nav-content .tabs {
  transition: 0.8s ease;
}
.industry_sec .tab-nav-content .tabs:not(.active) {
  opacity: 0;
}
.industry_sec .tab-nav-content .tabs:not(.active) .industry_wrapper figcaption {
  transform: translate(-29%, 10%);
}
.industry_sec .tab-nav-content .industry_wrapper {
  position: relative;
}
.industry_sec .tab-nav-content .industry_wrapper figure {
  border-radius: 10px;
}
.industry_sec .tab-nav-content .industry_wrapper figure img {
  border-radius: 10px;
}
.industry_sec .tab-nav-content .industry_wrapper figcaption {
  background: var(--gradient-a);
  padding: 35px 40px;
  border-radius: 10px;
  max-width: 400px;
  position: absolute;
  left: 10%;
  bottom: -10%;
  transform: translate(-10%, 10%);
  transition: 1s ease;
}
.industry_sec .tab-nav-content .industry_wrapper figcaption h3 {
  font-weight: 300;
  font-size: 40px;
  color: var(--white);
}
.industry_sec .tab-nav-content .industry_wrapper figcaption p {
  color: rgba(255, 255, 255, 0.6980392157);
  margin: 20px 0 35px;
}

.services_sec {
  background: #F5F7FA;
}
.services_sec .heading {
  text-align: center;
  max-width: 500px;
  margin: 0 auto 60px;
}

.customer_sec .heading {
  text-align: center;
  margin-bottom: 60px;
}
.customer_sec .customer_wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
@keyframes show-content {
  0% {
    opacity: 0;
    transform: translateY(12px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.customer_sec .customer_wrapper .customer_col {
  flex: 0 1 165px;
  transition: all 400ms cubic-bezier(0.4, 0.2, 0.4, 1);
}
.customer_sec .customer_wrapper .customer_col.active {
  flex: 1;
}
.customer_sec .customer_wrapper .customer_col.active figure::after {
  backdrop-filter: blur(0);
}
.customer_sec .customer_wrapper .customer_col.active figure .plus-icon {
  opacity: 0;
}
.customer_sec .customer_wrapper .customer_col.active figure .video_tag {
  opacity: 1;
}
.customer_sec .customer_wrapper .customer_col.active figcaption h6 {
  display: inline-flex;
  animation: 240ms cubic-bezier(0.4, 0.2, 0.4, 1) 240ms forwards show-content;
}
.customer_sec .customer_wrapper .customer_col.active figcaption .btn {
  display: inline-flex;
  animation: 240ms cubic-bezier(0.4, 0.2, 0.4, 1) 340ms forwards show-content;
}
.customer_sec .customer_wrapper .customer_col:not(.active) figure .video_tag {
  transform: translateY(20px);
}
.customer_sec .customer_wrapper .customer_col figure {
  position: relative;
  overflow: hidden;
  line-height: 0;
  border-radius: 10px;
  height: 391px;
}
.customer_sec .customer_wrapper .customer_col figure::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  background: rgba(0, 0, 0, 0.1019607843);
  transition: 0.5s ease;
}
.customer_sec .customer_wrapper .customer_col figure::after {
  backdrop-filter: blur(10px);
}
.customer_sec .customer_wrapper .customer_col figure img, .customer_sec .customer_wrapper .customer_col figure video {
  border-radius: 10px;
}
.customer_sec .customer_wrapper .customer_col figure .video_tag {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 9px 20px;
  border-radius: 25px;
  background: rgba(0, 0, 0, 0.4);
  color: var(--white);
  font-size: 14px;
  position: absolute;
  top: 30px;
  left: 30px;
  transition: 1s ease;
  opacity: 0;
}
.customer_sec .customer_wrapper .customer_col figure .plus-icon {
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--white);
  border-radius: 50%;
  position: absolute;
  left: 50%;
  bottom: 10%;
  transform: translate(-50%, 10%);
  transition: 0.5s ease;
  z-index: 1;
}
.customer_sec .customer_wrapper .customer_col figcaption {
  margin-top: 25px;
  height: 72px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 25px;
}
.customer_sec .customer_wrapper .customer_col figcaption .cus_logo {
  flex: 0 1 auto;
  height: 45px;
}
.customer_sec .customer_wrapper .customer_col figcaption .cus_logo img {
  -o-object-fit: contain;
     object-fit: contain;
}
.customer_sec .customer_wrapper .customer_col figcaption h6 {
  flex: 1;
  font-size: 16px;
  display: none;
  opacity: 0;
}
.customer_sec .customer_wrapper .customer_col figcaption .btn {
  font-size: 14px;
  font-weight: 600;
  display: none;
  opacity: 0;
}

.highlights_sec {
  background: var(--bglight);
}
.highlights_sec .main_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  --gap: 50px;
  gap: var(--gap);
}
.highlights_sec .main_wrapper .colA {
  flex: 0 1 auto;
  max-width: 40%;
  width: 100%;
}
.highlights_sec .main_wrapper .colA .heading h3 {
  font-size: 16px;
}
.highlights_sec .main_wrapper .colA .heading p {
  font-size: 24px;
  margin-top: 20px;
  color: var(--black);
  line-height: 1.3;
}
.highlights_sec .main_wrapper .colB {
  flex: 0 1 auto;
  max-width: 40%;
  width: 100%;
}
.highlights_sec .main_wrapper .colB .count_wrapper {
  padding: 40px 0 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px 50px;
  border-top: 2px solid var(--secondary);
}
.highlights_sec .main_wrapper .colB .count_wrapper .count_col h6 {
  font-size: 32px;
}
.highlights_sec .main_wrapper .colB .count_wrapper .count_col h5 {
  font-size: 16px;
}
.highlights_sec .main_wrapper .colB .count_wrapper .count_col p {
  margin-top: 10px;
  font-size: 14px;
}
.highlights_sec .highlight_slider {
  margin-top: 60px;
}
.highlights_sec .highlight_slider .swiper-wrapper {
  transition-timing-function: linear !important;
}
.highlights_sec .highlight_slider .swiper-wrapper figure {
  height: 75px;
}
.highlights_sec .highlight_slider .swiper-wrapper figure:hover img {
  filter: grayscale(0);
}
.highlights_sec .highlight_slider .swiper-wrapper figure img {
  filter: grayscale(1);
  -o-object-fit: contain;
     object-fit: contain;
}

.expert_sec .heading {
  text-align: center;
  margin-bottom: 60px;
}
.expert_sec .expert_wrapper {
  position: relative;
}
.expert_sec .expert_wrapper .swiper-nav {
  max-width: 55%;
}
.expert_sec .expert_wrapper .expert_slider .swiper-slide {
  width: 500px;
}
.expert_sec .expert_wrapper .expert_slider .swiper-slide:not(.swiper-slide-active) .expert_col::before, .expert_sec .expert_wrapper .expert_slider .swiper-slide:not(.swiper-slide-active) .expert_col::after {
  opacity: 0;
}
.expert_sec .expert_wrapper .expert_slider .swiper-slide:not(.swiper-slide-active) .expert_col figcaption {
  opacity: 0;
}
.expert_sec .expert_wrapper .expert_slider .swiper-slide.swiper-slide-active figure::after {
  display: none;
}
.expert_sec .expert_wrapper .expert_slider .expert_col {
  height: 350px;
}
.expert_sec .expert_wrapper .expert_slider .expert_col::before, .expert_sec .expert_wrapper .expert_slider .expert_col::after {
  content: "";
  position: absolute;
  background: url(/assets/vector/dots.svg) no-repeat;
  background-size: 120px;
}
.expert_sec .expert_wrapper .expert_slider .expert_col::before {
  background-position: 0% 0%;
}
.expert_sec .expert_wrapper .expert_slider .expert_col::after {
  background-position: 100% 100%;
}
.expert_sec .expert_wrapper .expert_slider .expert_col figure {
  position: relative;
}
.expert_sec .expert_wrapper .expert_slider .expert_col figure::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 100% 100%);
  transition: 0.5s ease;
}
.expert_sec .expert_wrapper .expert_slider .expert_col figure::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  background: none;
  transition: 0.5s ease;
}
.expert_sec .expert_wrapper .expert_slider .expert_col figure::after {
  background: rgba(0, 0, 0, 0.1019607843);
  backdrop-filter: blur(5px);
}
.expert_sec .expert_wrapper .expert_slider .expert_col figure {
  border-radius: 10px;
}
.expert_sec .expert_wrapper .expert_slider .expert_col figcaption {
  bottom: 50%;
  right: unset;
  transform: translate(0, 50%);
  text-align: center;
  padding: 0 28px;
  transition: 0.7s ease;
}
.expert_sec .expert_wrapper .expert_slider .expert_col figcaption h4 {
  font-size: 24px;
  font-weight: 600;
  color: var(--white);
  line-height: 1.2;
}
.expert_sec .expert_wrapper .expert_slider .expert_col figcaption .line {
  width: 32px;
  height: 3px;
  border-radius: 5px;
  background: var(--secondary);
  margin: 20px auto;
}
.expert_sec .expert_wrapper .expert_slider .expert_col figcaption p {
  font-size: 16px;
  margin-bottom: 20px;
  color: var(--white);
}
.expert_sec .btn_wrap {
  margin-top: 40px;
  justify-content: center;
}

.client_sec .main_wrapper .client_slider .swiper-wrapper {
  transition-timing-function: linear !important;
}
.client_sec .main_wrapper .client_slider figure {
  background: #EDEDED;
  padding: 40px 20px;
  width: 100%;
  transform: skewX(15deg);
}
.client_sec .main_wrapper .client_slider figure img {
  height: 75px;
  transform: skewX(-15deg);
  -o-object-fit: contain;
     object-fit: contain;
  background-blend-mode: multiply;
}

.map_sec .heading {
  max-width: 460px;
  margin: 0 auto 50px;
  text-align: center;
}
@media only screen and (max-width: 991px) {
  .map_sec .heading {
    margin: 0 auto 40px;
  }
}
@media only screen and (max-width: 768px) {
  .map_sec .heading {
    margin: 0 auto 30px;
  }
}
.map_sec .heading h2 {
  font-size: 36px;
  font-weight: 600;
  padding-bottom: 5px;
}
@media only screen and (max-width: 991px) {
  .map_sec .heading h2 {
    font-size: 32px;
  }
}
@media only screen and (max-width: 768px) {
  .map_sec .heading h2 {
    font-size: 30px;
  }
}
@media only screen and (max-width: 540px) {
  .map_sec .heading h2 {
    font-size: 28px;
  }
}
.map_sec .heading p {
  color: var(--black);
  line-height: 1.2;
  margin-top: 0;
}
@media only screen and (max-width: 540px) {
  .map_sec .heading p {
    font-size: 14px;
    line-height: 1.3;
  }
}
.map_sec .global-container {
  position: relative;
  max-width: 100%;
  text-align: center;
  z-index: 2;
}
@media only screen and (max-width: 991px) {
  .map_sec .global-container {
    margin-top: 50px;
  }
}
@media only screen and (max-width: 768px) {
  .map_sec .global-container {
    margin-top: 0;
  }
}
.map_sec .global-container .map-image {
  width: 900px;
  height: 460px;
  -o-object-fit: contain;
     object-fit: contain;
}
@media only screen and (max-width: 768px) {
  .map_sec .global-container .map-image {
    width: 700px;
    height: 300px;
  }
}
@media only screen and (max-width: 540px) {
  .map_sec .global-container .map-image {
    width: 100%;
    height: 165px;
  }
}
.map_sec .global-container .pointer {
  position: absolute;
  cursor: pointer;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.map_sec .global-container .pointer:hover {
  z-index: 10;
}
.map_sec .global-container .pointer:hover .point_wrap span {
  opacity: 1;
  visibility: visible;
}
.map_sec .global-container .pointer .point_wrap {
  position: relative;
}
.map_sec .global-container .pointer .point_wrap .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border: 1px solid var(--primary);
  border-radius: 50%;
  animation: blink 2s 0.2s infinite;
  position: relative;
  z-index: 1;
}
@media only screen and (max-width: 540px) {
  .map_sec .global-container .pointer .point_wrap .icon {
    width: 20px;
    height: 20px;
  }
}
.map_sec .global-container .pointer .point_wrap .icon svg {
  width: 60%;
  height: 60%;
}
.map_sec .global-container .pointer .point_wrap span {
  display: block;
  width: -moz-max-content;
  width: max-content;
  max-width: 180px;
  font-size: 14px;
  background-color: var(--white);
  padding: 7px 15px;
  border-radius: 5px;
  color: var(--black);
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translate(-50%, -30%);
  opacity: 0;
  visibility: hidden;
  transition: 0.5s ease;
  z-index: 10;
  --triangle: 10px;
}
@media only screen and (max-width: 540px) {
  .map_sec .global-container .pointer .point_wrap span {
    font-size: 12px;
    max-width: 150px;
  }
}
.map_sec .global-container .pointer .point_wrap span::before {
  content: "";
  display: block;
  position: absolute;
  top: calc(100% - var(--triangle) / 2);
  left: 50%;
  width: var(--triangle);
  height: var(--triangle);
  background: var(--white);
  transform: translate(-50%, 0) rotate(45deg);
  z-index: -1;
}
.map_sec .global-container .pointer.point1 {
  top: 50%;
  right: 34%;
}
.map_sec .global-container .pointer.point2 {
  right: 35%;
  bottom: 32%;
}
.map_sec .global-container .pointer.point3 {
  top: 45%;
  right: 40%;
}
.map_sec .global-container .pointer.point4 {
  left: 32%;
  top: 44%;
}
.map_sec .global-container .pointer.point5 {
  right: 25%;
  top: 44%;
}
.map_sec .global-container .pointer.point6 {
  left: 52%;
  top: 35%;
}

@keyframes blink {
  0% {
    opacity: 0.5;
    transform: scale(0.8);
  }
  50% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0.5;
    transform: scale(0.8);
  }
}/*# sourceMappingURL=home.css.map */